
<div id="comments" class="comments">
    <div class="comments-top">
        Только зарегистрированные и авторизованные пользователи могут оставлять комментарии.
    </div>
    {% if topic.comments|length > 0 %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            // настройка Плагина Фоторамки
            $('.comments-total .fold ').click(function() {
                $('.comment-wrapper').addClass("folded");
                return false;
            });
            $('.comments-total .unfold ').click(function() {
                $('.comment-wrapper').removeClass("folded");
                return false;
            });
            $('.folding ').click(function() {
                $(this).closest('.comment-wrapper').toggleClass("folded");
                return false;
            });
        });
    </script>
    <div class="comments-total">
        <span class="icon"></span>
        <span class="num">{{topic.comments|length}} коментариев</span>
        <span class="sep"></span>
        <a href="#" class="fold">свернуть все</a>
        <span class="sep"></span>
        <a href="#" class="unfold">развернуть все</a>
    </div>
    {% endif %}
    {% for comment in topic.comments %}
    <div class="comment-wrapper" id="comment_wrapper_{{ comment.id }}">
        <div class="comment" id="comment_id_{{ comment.id }}">
            <a name="comment{{ comment.id }}"></a>
            <div class="folding"></div>
            <ul class="info">
                <li class="com_avatar">
                    <a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">
                    {% if comment.user.user_profile_avatar %}
                    <img alt="avatar" src="{{ comment.user.user_profile_avatar }}"></a>
                    {% else %}
                    <img alt="avatar" src="http://tezclub.com.ua/templates/skin/street-spirit/images/avatar_24x24.jpg"></a>

                    {% endif %}
                </li>
                <li class="username"><a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">{{ comment.user.user_login }}</a></li>
                <li class="date">{{ comment.timestamp }}</li>
                
                <li class="rate positive">
                    <span class="total">{{ comment.cont_votes }}</span>
                    <a href="#" class="plus"></a>
                    <a href="#" class="minus"></a>
                </li>
                
            </ul>
            <div class="comment-body">
                <div class="content" id="comment_content_id_{{ comment.id }}">{{ comment.text }}</div>
                
                <div class="relpay-link-wrap">
                    <a class="reply-link" onclick="ls.comments.toggleCommentForm({{ comment.id }}); return false;" href="#">Ответить</a>
                </div>
                
                <div style="display: none;" id="comment_preview_{{ comment.id }}" class="comment-preview"></div>
                <div style="display: none;" id="reply_{{ comment.id }}" class="reply"></div>

                {# inner comment 
                <div class="comment-wrapper" id="comment_wrapper_{{ comment.id }}">
                    <div class="comment" id="comment_id_{{ comment.id }}">
                        <a name="comment{{ comment.id }}"></a>
                        <ul class="info">
                            <li class="com_avatar">
                                <a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">
                                {% if comment.user.user_profile_avatar %}
                                <img alt="avatar" src="{{ comment.user.user_profile_avatar }}"></a>
                                {% else %}
                                <img alt="avatar" src="http://tezclub.com.ua/templates/skin/street-spirit/images/avatar_24x24.jpg"></a>

                                {% endif %}
                            </li>
                            <li class="username"><a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">{{ comment.user.user_login }}</a></li>
                            <li class="date">{{ comment.timestamp }}</li>
                            <li class="rate negative">
                                <span class="total">-12</span>
                                <a href="#" class="plus"></a>
                                <a href="#" class="minus"></a>
                            </li>
                        </ul>
                        <div class="comment-body">
                            <div class="content" id="comment_content_id_{{ comment.id }}">{{ comment.text }}</div>
                            
                            <div class="relpay-link-wrap"><a class="reply-link" onclick="ls.comments.toggleCommentForm(1271); return false;" href="#">Ответить</a></div>
                            
                            <div style="display: none;" id="comment_preview_{{ comment.id }}" class="comment-preview"></div>
                            <div style="display: none;" id="reply_{{ comment.id }}" class="reply"></div>
                        </div>
                    </div>
                </div>
                <div class="comment-wrapper" id="comment_wrapper_{{ comment.id }}">
                    <div class="comment" id="comment_id_{{ comment.id }}">
                        <a name="comment{{ comment.id }}"></a>
                        <ul class="info">
                            <li class="com_avatar">
                                <a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">
                                {% if comment.user.user_profile_avatar %}
                                <img alt="avatar" src="{{ comment.user.user_profile_avatar }}"></a>
                                {% else %}
                                <img alt="avatar" src="http://tezclub.com.ua/templates/skin/street-spirit/images/avatar_24x24.jpg"></a>

                                {% endif %}
                            </li>
                            <li class="username"><a href="http://tezclub.com.ua/profile/{{ comment.user.user_login }}/">{{ comment.user.user_login }}</a></li>
                            <li class="date">{{ comment.timestamp }}</li>
                            <li class="rate negative voted_plus">
                                <span class="total">-12</span>
                                <a href="#" class="plus"></a>
                                <a href="#" class="minus"></a>
                            </li>
                        </ul>
                        <div class="comment-body">
                            <div class="content" id="comment_content_id_{{ comment.id }}">{{ comment.text }}</div>
                            
                            <div class="relpay-link-wrap"><a class="reply-link" onclick="ls.comments.toggleCommentForm(1271); return false;" href="#">Ответить</a></div>
                            
                            <div style="display: none;" id="comment_preview_{{ comment.id }}" class="comment-preview"></div>
                            <div style="display: none;" id="reply_{{ comment.id }}" class="reply"></div>
                        </div>
                    </div>
                </div>
                 end of inner comment #}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% if userCurrent %}
<div id="addCommentContainer" class="reply-area">
    <h4 id="add_comment_root" class="reply-header"><a onclick="return false;" href="#">Прокомментировать</a></h4>
    <form id="addCommentForm" id="form_comment" method="post" action="">
        <div>
            <textarea name="comment_text" id="comment_text"></textarea>
            
            <input type="hidden" name="user-id" value="{{ userCurrent.user_id }}">
            <input type="hidden" name="topic-id" value="{{ topic.id }}">
            <input type="hidden" name="cmt_target_id" value="0" id="cmt_target_id">
            <div class="button-line">
                <span>
                    <input type="submit" type="button" value="Отправить" class="button gray">
                </span>
            </div>
        </div>
    </form>
</div>
{% endif %}