{% extends 'admin.twig' %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/office">Агенства</a></li>
        <li><a href="/admin/city">Города</a></li>
        <li class="active"><a href="/admin/metro">Станции метро</a></li>
    </ul>
{% endblock %}

{% block content %}	
	<h1>Станции метро <a href="/admin/metro/add" class="btn btn-success">Добавить станцию</a></h1>

	{% if metros %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Станция</th>
					<th>Город</th>
					<th colspan="2">Действия</th>
				</tr>
			</thead>
			<tbody>
				{% for metro in metros %}
					<tr>
						<td style="width:30px;">{{ metro.id }}</td>
						<td>{{ metro.metro }}</td>
						<td>{{ metro.city }}</td>
						<td style="width:100px;"><a href="/admin/metro/edit/{{ metro.id }}">Редактировать</a></td>
						<td style="width:100px;"><a href="/admin/metro/delete/{{ metro.id }}">Удалить</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Нет ни одной станции.</p>
	{% endif %}
{% endblock %}