{% extends 'layout.twig' %}

{% block page_title %} PAGE TITLE {% endblock %}

{% block page_head %} {% endblock %}

{% block article_class %}index{% endblock %}

{% block content %} 
<script>

    jQuery(document).ready(function($){

        $(".arrow", ".faces").click(function(){
            
            var self = $(this),
                direction = self.is(".left") ? -1 : 1,
                collection = $("li", self.parents(".faces"))
                first = collection.filter(".active:first").index(),
                number = 5;
                

            first = Math.max(0, Math.min(first + direction, collection.length - number));
                        
            collection.removeClass("active").filter(function(){
                var self = $(this);
                
                return self.index() >= first && self.index() < first + number;
            }).addClass("active")
        }).eq(1).trigger("click");

    });

    </script>

                <div class="headline corners">
                    <ul class="steps vertical">
                        <li><a href="/registration"><span class="ib">1</span>Зарегистрируйся</a></li>
                        <li><a href="/registration"><span class="ib">2</span>Раскажи про себя</a></li>
                        <li><a href="/about"><span class="ib">3</span>Выигрывай призы</a></li>
                    </ul>

                    <div class="explanation">
						<p><strong style="font-style: italic;">Если вы любите делиться своими впечатлениями и ведете собственный блог – регистрируйтесь и поборитесь за главный приз.</strong></p>
						<p>Каждый месяц путем голосования определяется один победитель, отправляющийся в одну из стран Tez Tour,  чтобы рассказать о своем путешествии и побороться за главный приз.</p>
						<p><strong>Пять месяцев –> пять победителей – > пять стран</strong></p>
                    </div>

                    <ul class="c images">
                        <li class="ib">
                            <img src="img/news/small_3.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>июнь</strong></div>
                            <span>Хорватия Чехия</span>
                        </li>
                        <li class="ib">
                            <img src="img/news/small_1.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>июль</strong></div>
                            <span>Болгария</span>
                        </li>
                        <li class="ib">
                            <img src="img/news/small_2.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>июль</strong></div>
                            <span>Греция</span>
                        </li>
                        <li class="ib">
                            <img src="img/news/small_4.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>август</strong></div>
                            <span>Австрия</span>
                        </li>
                        <li class="ib">
                            <img src="img/news/small_5.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>сентябрь</strong></div>
                            <span>Египет</span>
                        </li>
                        <li class="ib">
                            <img src="img/news/small_6.jpg" width="117" height="139">
                            <div>Победитель <br/><strong>октябрь</strong></div>
                            <span>Тайланд</span>
                        </li>
                    </ul>

                    <div class="description">
						<div class="text">
							<p><strong>Главный Приз</strong></p>
							<p>В ноябре, из пяти победителей месяцев, путем голосования будет выбран Обладатель Главных Призов:</p>
							<p>1) Новый автомобиль Nissan Juke</p>
							<p>2) Работа Блоггером в компании Tez Tour с возможностью путешествий круглый год.</p>
						</div>
                        <div class="image">
                            <img src="img/news/car.png" width="270" height="150">
                            <div>Супер победитель!</div>
                        </div>
                    </div>

                    <a href="/registration" class="button participate blue corners">Участвовать</a>
                </div>

                <h1 style="margin: 25px 0 10px 50px;">Топ блоггеры мая</h1>
                <div class="c faces full">
                    <div class="ib arrow left"></div>
                    <ul class="c ib">
                        {% for blogger in bloggers %}
                        <li class="ib corners">
                            <a href="/bloggers/{{ blogger.id }}">
                                {% if blogger.user_profile_avatar != '' %}
                                <img src="{{ blogger.user_profile_avatar }}" height="100" width="100" alt=""/>
                                {% else %}
                                <img src="img/avatar-100.png" height="100" width="100" alt=""/>
                                {% endif %}
                            </a>
                            <div class="login"><a href="/bloggers/{{ blogger.id }}">{{ blogger.user_login }}</a></div>
                            <div class="name"><a href="/bloggers/{{ blogger.id }}">{{ blogger.user_profile_name }}</a></div>
                            <div class="statistic">Рейтинг <span class="score">{{ blogger.user_rating }}</span></div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="ib arrow right"></div>
                </div>

                <a href="/members" class="button grey corners" style="float:right;">Все участники</a><br/>
{% endblock %}