{% extends 'layout.twig' %}

{% block page_title %} members PAGE TITLE {% endblock %}

{% block page_head %} {% endblock %}

{% block article_class %} members {% endblock %}

{% block content %}
<h1>Финалисты</h1>
<div class="c faces full fin">
    <div class="ib arrow left"></div>
        <ul class="c ib">
            {% for finalist in finalists %}
            <li class="ib corners active">
                <a href="/bloggers/{{ finalist.id }}">
                    {% if finalist.user_profile_avatar != '' %}
                    <img src="{{ finalist.user_profile_avatar }}" height="100" width="100" alt=""/>
                    {% else %}
                    <img src="img/avatar-100.png" height="100" width="100" alt=""/>
                    {% endif %}
                </a>
                <div class="login">{{ finalist.mounth }}</div>
                <div class="name"><a href="/bloggers/{{ finalist.id }}">{{ finalist.user_profile_name }}</a></div>
                <div class="statistic">Рейтинг <span class="score">{{ finalist.conkurs_rate }}</span></div>
            </li>
            {% endfor %}
        </ul>
    <div class="ib arrow right"></div>
</div>
<h1>Все участники проекта</h1>
<div class="c faces full">
    <div class="ib arrow left"></div>
    <ul class="c ib">
        {% for blogger in bloggers %}
        <li class="ib corners active">
            <a href="/bloggers/{{ blogger.id }}">
                {% if blogger.user_profile_avatar != '' %}
                <img src="{{ blogger.user_profile_avatar }}" height="100" width="100" alt=""/>
                {% else %}
                <img src="img/avatar-100.png" height="100" width="100" alt=""/>
                {% endif %}
            </a>
            <div class="login"><a href="/bloggers/{{ blogger.id }}">{{ blogger.user_login }}</a></div>
            <div class="name"><a href="/bloggers/{{ blogger.id }}">{{ blogger.user_profile_name }}</a></div>
            <div class="statistic">Рейтинг <span class="score">{{ blogger.user_rating }}</span></div>
        </li>
        {% endfor %}
    </ul>
    <div class="ib arrow right"></div>
</div>

{% endblock %}