<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
//<![CDATA[
        bkLib.onDomLoaded(function() {
            //nicEditors.allTextAreas();
            new nicEditor({fullPanel : true}).panelInstance('summary');
            new nicEditor({fullPanel : true}).panelInstance('content');
        });
  //]]>

function checkForm(form) {
    // Заранее объявим необходимые переменные
    var el, // Сам элемент
    elName, // Имя элемента формы
    value, // Значение
    type; // Атрибут type для input-ов
    // Массив списка ошибок, по дефолту пустой
    var errorList = [];
    // Хэш с текстом ошибок (ключ - ID ошибки)
    var errorText = {
    1 : "Не заполнено поле 'title'",
    2 : "Не заполнено поле 'E-mail'",
    3 : "Не прикреплен файл",
    4 : "Нет текста",
    5 : "Не выбран Блоггер или Отель",
    6 : "Не заполнено поле 'tags'",
    7 : "Не заполнено поле 'operator'",
    8 : "Не заполнено поле 'operatorlink'"
    }
    // Получаем семейство всех элементов формы
    // Проходимся по ним в цикле
    for (var i = 0; i < form.elements.length; i++) {
    el = form.elements[i];
    elName = el.nodeName.toLowerCase();
    value = el.value;
    if (elName == "input") { // INPUT
    // Определяем тип input-а
    type = el.type.toLowerCase();
    // Разбираем все инпуты по типам и обрабатываем содержимое
    switch (type) {
    case "text" :
    if (el.name == "title" && value == "") errorList.push(1);
    if (el.name == "tags" && value == "") errorList.push(6);
    if (el.name == "operator" && value == "") errorList.push(7);
    if (el.name == "operatorlink" && value == "") errorList.push(8);
    break;
    case "file" :
    if (value == "") errorList.push(3);
    break;
    case "checkbox" :
    // Ничего не делаем, хотя можем
    break;
    case "radio" :
    // Ничего не делаем, хотя можем
    break;
    default :
    // Сюда попадают input-ы, которые не требуют обработки
    // type = hidden, submit, button, image
    break;
    }
    } else if (elName == "textarea") { // TEXTAREA
    if (value == "" || value == "<br>") errorList.push(4);
    } else if (elName == "select") { // SELECT
    if (value == 0) errorList.push(5);
    } else {
    // Обнаружен неизвестный элемент ;)
    }
    }
    // Финальная стадия
    // Если массив ошибок пуст - возвращаем true
    if (!errorList.length) return true;
    // Если есть ошибки - формируем сообщение, выовдим alert
    // и возвращаем false
    var errorMsg = "При заполнении формы допущены следующие ошибки:\n\n";
    for (i = 0; i < errorList.length; i++) {
    errorMsg += errorText[errorList[i]] + "\n";
    }
    alert(errorMsg);
    return false;
}
  </script>
<h1>{{ action_name }} topic</h1>
<form action="{{ action_url }}" method="post" class="form-horizontal" onsubmit="return checkForm(this);">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
              <input type="text" name="title" value="{{ topic.title|default('') }}" id="title" style="width:700px;"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="blogger">Blogger</label>
            <div class="controls">
              <select  id="blogger" name="blogger">
                <option value="0">...</option>
                {% for blogger in bloggers %}
                    <option {% if blogger.id == topic.bl_id %}selected{% endif %} value="{{blogger.id}}">{{blogger.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="title">Operator</label>
            <div class="controls">
              <input type="text" name="operator" value="{{ topic.operator|default('') }}" id="operator" style="width:700px;"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="title">Operator link</label>
            <div class="controls">
              <input type="text" name="operatorlink" value="{{ topic.operatorlink|default('') }}" id="operatorlink" style="width:700px;"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="hotel">Hotel</label>
            <div class="controls">
              <select  id="hotel" name="hotel">
                <option value="0">...</option>
                {% for hotel in hotels %}
                    <option {% if hotel.id == topic.hotel_id %}selected{% endif %} value="{{hotel.id}}">{{hotel.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="summary">Summary</label>
            <div class="controls">
              <textarea name="summary" id="summary" style="width:710px; height:150px;">{{ topic.summary|default('') }}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="content">Content</label>
            <div class="controls">
              <textarea name="content" id="content" style="width:710px; height:150px;">{{ topic.content|default('') }}</textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="timestamp">Date</label>
            <div class="controls">
              <input type="text" name="timestamp" value="{{ topic.timestamp|default("now"|date("Y-m-d H:i:s")) }}" id="timestamp" style="width:700px;"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="tags">Tags</label>
            <div class="controls">
              <input type="text" name="tags" value="{{ topic.tags|default('') }}" id="tags" style="width:700px;"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="active">Active</label>
            <div class="controls">
                <input type="checkbox" name="active" value="1" {% if topic.active == 1 %} checked {% endif %}>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="toppage">Toppage Tezclub.com.ua</label>
            <div class="controls">
                <input type="checkbox" name="toppage" value="1" {% if topic.toppage == 1 %} checked {% endif %}>
            </div>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ action_name }} hotel</button>
            <button class="btn">Cancel</button>
        </div>
    </fieldset>
</form>