{% extends 'layout.twig' %}

{% block page_title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="caption">

</div>
<div class="text">
<div class="options">
    {% include 'list_options_detail.twig' %}
</div>
<div class="list short hotel">
    <div class="entry">
        <h1>{{ topic.title }}</h1>
        <div class="meta">
            <img src="/img/avatar-25.png" class="ib" width="25" height="25" alt=""/>
            автор <a href="#">{{ topic.author }}</a>,
            отель <a href="#">{{ topic.hotel }}</a>,
            оператор <a href="#">Василий иванович</a>
            <span class="date">{{ topic.timestamp|date('jS F Y, H:i') }}</span>
        </div>
        <a class="ib button green corners" href="#">Заказать тур в оттеле</a><br/><br/>
        
        {{ topic.content|raw }}

        <div class="poll" id="rating{{ topic.id }}">
            <div class="statistic">Рейтинг статьи <span class="score">{{ topic.count_bals|number_format(2) }}</span></div> <div class="vote-result"></div>

            <div  class="rating ib vote">
                <div class="vote-wrap">
                    <div class="vote-hover-text">Проголосовать:</div>
                    <div class="vote-hover" >
                        <div class="vote-block">
                            <div class="vote-stars"></div>
                            <div class="vote-active"></div>
                        </div>
                    </div>
                    <div class="vote-success"></div>
                </div>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="val" value="{{ topic.count_bals }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="votes" value="{{ topic.count_voises }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="topic-id" value="{{ topic.id }}"/>
            </div>
            <script  type="text/javascript">
            jQuery(document).ready(function($){
               $('#rating{{ topic.id }}').rating({
                    fx: 'float',
                    stars: 5,
                    image: '/img/stars.png',
                    loader: '/img/ajax-loader.gif',
                    url: '/topic/vote',
                    //readOnly: true
               });
             });
            </script>
        </div>

        
        <ul class="c tags">
            {% for tag in topic.tags %}
            <li class="ib ui-corner-all"><a href="#">{{ tag }} &bull;</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
{% endblock %}
