{% extends 'layout.twig' %}

{% block page_title %}{{ topic.title }}{% endblock %}

{% block page_head %}
    <script type="text/javascript" src="/js/fotorama.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/fotorama.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/comments.css" >
    <script type="text/javascript">
        jQuery(document).ready(function(){
            // настройка Плагина Фоторамки
            $('.fotorama').fotorama({
                backgroundColor: '#fff',
                thumbsBackgroundColor: '#fff',
                thumbSize: 64,
                thumbBorderColor: 'yellow',
                thumbBorderWidth: 6,
            });
            $('.fotorama').trigger('rescale', [670, 500]);
        });
    </script>

    <meta property="og:title" content="{{ topic.title }}"/>
    <meta property="og:url" content="{{ siteurl }}/blog/view/{{ topic.id }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ topic.summary|striptags }}"/>
    <meta property="og:image" content="{{ topic.image }}"/>
{% endblock %}

{% block content %}
<div class="text corners">
<div class="options">
    {% include 'list_options_detail.twig' %}
</div>
<div class="list short hotel">
    <div class="entry">
        <h1>{{ topic.title }}</h1>
        <div class="meta">
            {% if topic.author_ava %}
                <img src="{{ topic.author_ava }}.25" class="ib" width="25" height="25" alt=""/>
            {% else %}
                <img src="/img/avatar-25.png" class="ib" width="25" height="25" alt=""/>
            {% endif %}
            автор <a href="/bloggers/{{ topic.bl_id }}">{{ topic.author }}</a>,
            отель <a href="/hotel/{{ topic.hotel_id }}">{{ topic.hotel }}</a>,
            оператор <a href="{{ topic.operatorlink }}">{{ topic.operator }}</a>
            <span class="date">{{ topic.timestamp }}</span>
            <span class="comments">{{ topic.count_comments }}</span>
        </div>
        
        {{ topic.content|raw }}

		<br/>
		<a class="ib button green corners" href="{{ topic.hoteltzturpage }}">Заказать тур в отеле</a>

        <div class="poll" id="rating{{ topic.id }}">
            <div class="share-line">
                <div class="share-line-tw">
                    <a href="https://twitter.com/share" class="twitter-share-button"
                       data-url="{{ siteurl }}/blog/view/{{ topic.id }}"
                       data-text="{{ topic.title }}" data-lang="ru">Твитнуть</a>
                </div>

                <div class="share-line-od">
                    <a class="odkl-klass-oc" href="{{ siteurl }}/blog/view/{{ topic.id }}" onclick="ODKL.Share(this);return false;" ><span>0</span></a>
                </div>

                <div class="share-line-vk ">
                    <script type="text/javascript"><!--
                    document.write(VK.Share.button({url: "{{ siteurl }}/blog/view/{{ topic.id }}",
                    title: "{{ topic.title }}"},{type: "round", text: "Мне нравиться"}));
                    --></script>
                </div>

                <div class="share-line-fb">
                    <div class="fb-like" data-href="{{ siteurl }}/blog/view/{{ topic.id }}" data-action="like" data-show-faces="true" data-width="125" data-layout="button_count" data-send="false"></div>
                </div>
            </div>

            <div class="ib statistic">Рейтинг статьи: <span class="score">{{ topic.count_bals|number_format(2) }}</span></div><div class="ib vote-result"></div>

            <div  class="rating ib vote">
                <div class="vote-wrap">
                    <div class="vote-hover-text">Проголосовать:</div>
                    <div class="vote-hover" >
                        <div class="vote-block">
                            <div class="vote-stars"></div>
                            <div class="vote-active"></div>
                        </div>
                    </div>
                    <div class="vote-success"></div>
                </div>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="val" value="{{ topic.count_bals }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="votes" value="{{ topic.count_voises }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="topic-id" value="{{ topic.id }}"/>
            </div>
            <script  type="text/javascript">
            jQuery(document).ready(function($){
               $('#rating{{ topic.id }}').rating({
                    fx: 'full',
                    stars: 5,
                    image: '/img/stars.png',
                    loader: '/img/ajax-loader.gif',
                    url: '/topic/vote'
                    {% if not userCurrent %},readOnly: true{% endif %}
               });
             });
            </script>
        </div>

        <ul class="c tags">
            {% for tag in topic.tags %}
            <li class="ib ui-corner-all"><a href="#">{{ tag }} &bull;</a></li>
            {% endfor %}
        </ul>
    </div>

        {% include 'blog_comments.twig' %}
</div>

</div>
{% endblock %}
