{% extends 'layout.twig' %}

{% block page_title %}Bloggers Title{% endblock %}

{% block content %}
<div class="text corners">
    <div class="c info">
        <div class="ib avatar">
            {% if blogger.image %}
                <img src="{{ hotelssiteurl }}/{{ blogger.image }}.225" height="225" width="225" alt="avatar" class="ib"/>
            {% else %}
                <img src="{{ hotelssiteurl }}/img/avatar.png" height="225" width="225" alt="avatar" class="ib"/>
            {% endif %}

        <div class="poll" id="rating{{ blogger.id }}">
            <div class="ib statistic">Балы <span class="score">{{ blogger.count_bals|number_format(2) }}</span></div><div class="ib vote-result"></div>

            <div  class="rating ib vote">
                <div class="vote-wrap blogger">
                    <div class="vote-hover-text">Проголосовать:</div>
                    <div class="vote-hover" >
                        <div class="vote-block">
                            <div class="vote-stars"></div>
                            <div class="vote-active"></div>
                        </div>
                    </div>
                    <div class="vote-success"></div>
                </div>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="val" value="{{ blogger.count_bals }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="votes" value="{{ blogger.count_voises }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="blogger-id" value="{{ blogger.id }}"/>
            </div>
            <script  type="text/javascript">
            jQuery(document).ready(function($){
                $('#rating{{ blogger.id }}').rating({
                    fx: 'full',
                    stars: 5,
                    image: '/img/stars.png',
                    loader: '/img/ajax-loader.gif',
                    url: '/blogger/vote'
                    {% if not userCurrent %},readOnly: true{% endif %}
                });
             });
            </script>
        </div>
        </div>
        <div class="ib data">
            <h2>{{ blogger.login }}</h2>
            <div class="name">{{ blogger.name }}</div>
            <h3>Личное</h3>
            <dl>
                <dt>Пол:</dt>
                <dd>{% if blogger.sex == 1 %}
                        мужской
                    {% elseif blogger.sex == 2 %}
                        женский
                    {% else %}
                        -
                    {% endif %}
                </dd>
                <dt>Дата рождения:</dt>
                <dd>{{ blogger.date_bd|default("-") }}</dd>
                <dt>Местоположение:</dt>
                <dd>{{ blogger.place_bd|default("-") }}</dd>
            </dl>
            <h3>О себе:</h3>
            <div class="about">{{ blogger.about|default("-")|raw }}</div>
            <h3>Связаться:</h3>
            <ul class="c social">
                {% if blogger.soc_links.vk !='' %}
                <li class="ib vk"><a href="{{ blogger.soc_links.vk }}">Вконтакте</a></li>
                {% endif %}
                {% if blogger.soc_links.lj !='' %}
                <li class="ib lj"><a href="{{ blogger.soc_links.lj }}">Livejournal</a></li>
                {% endif %}
                {% if blogger.soc_links.tw !='' %}
                <li class="ib tw"><a href="{{ blogger.soc_links.tw }}">Twitter</a></li>
                {% endif %}
                {% if blogger.soc_links.fb !='' %}
                <li class="ib fb"><a href="{{ blogger.soc_links.fb }}">Facebook</a></li>
                {% endif %}
            </ul>
        </div>
        {% if hotels|length > 0 %}
        <div class="ib hotel">
            <h3>Отели {{ blogger.name }}</h3>
            <ul class="grid" style="width: 275px;">
                {% for hotel in hotels %}
                <li class="c {% if hotel.active == 0 %} noactive {% endif %}">
                    {% if hotel.image %}
                        <img src="{{ hotelssiteurl }}/{{ hotel.image }}.25" width="25" alt="avatar" class="ib"/>
                    {% else %}
                        <img src="{{ hotelssiteurl }}/img/hotel-25.png" width="25" alt="avatar" class="ib"/>
                    {% endif %}
                    <a class="ib name" {% if hotel.active != 0 %} href="/hotels/hotel/{{ hotel.id }}" {% endif %}>{{ hotel.name }}</a>
                    <div class="ib count">статей <span class="score">{{ hotel.count_topic }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="options">
        {% if topics %}
            {% include 'list_options_detail.twig' %}
        {% endif %}
    </div>
    <div class="list short hotels">
        {% include 'list_short_hotel.twig' %}
    </div>
    <div class="pagination">
        {% if topics %}
            Страница
            <ul class="c ib pagging">
            {% for page in pagination %}
                {% if page.current == current %}
                    <li class="ib active">{{page.id}}</li>
                {% else %}
                    <li class="ib"><a href="/hotels/hotel/{{ hotel.id }}/{{page.id}}">{{page.id}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>




</div>

{% endblock %}