{% extends 'layout.twig' %}

{% block page_title %}{{ topic.title }}{% endblock %}

{% block page_head %}
<script type="text/javascript" src="/js/jquery.rating-2.0.js"></script>
<link href="/css/jquery.rating.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="caption">
    <span class="name">{{ topic.title }}</span>
    <a class="all" href="/blog">Все обзоры</a>
</div>
<div class="text">
<div class="options">
    <h3>Выбрать другой отзыв</h3>
    <select>
        <option>По отелям</option>
    </select>
    <select>
        <option>По блоггерам</option>
    </select>
</div>
<div class="list short hotel">
    <div class="entry">
        <h1>{{ topic.title }}</h1>
        <div class="meta">
            <img src="/img/avatar-25.png" class="ib" width="25" height="25" alt=""/>
            автор <a href="#">{{ topic.author }}</a>,
            отель <a href="#">{{ topic.hotel }}</a>,
            оператор <a href="#">Василий иванович</a>
            <span class="date">{{ topic.timestamp|date('jS F Y, H:i') }}</span>
        </div>
        <a class="ib button green corners" href="#">Заказать тур в оттеле</a><br/><br/>
        
        {{ topic.content|raw }}

        <div class="poll">
            <div class="statistic">Рейтинг статьи <span class="score">{{ topic.count_bals }}</span> </div>
            <div id="rating"  class="ib vote">
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="val" value="{{ topic.count_bals }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="votes" value="{{ topic.count_voises }}"/>
                &nbsp; &nbsp; &nbsp;<input type="hidden" name="topic-id" value="{{ topic.id }}"/>
            </div>
        </div>
        
        <ul class="c tags">
            {% for tag in topic.tags %}
            <li class="ib ui-corner-all"><a href="#">{{ tag }} &bull;</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

</div>
{% endblock %}
