{% extends 'layout.twig' %}

{% block page_title %}Bloggers Title{% endblock %}

{% block content %} 
<div class="caption">
    <select class="dropdown">
        <option value="0">Выбрать блогера</option>
        {% for blogger in bloggers %}
        <option value="{{ blogger.id }}">{{ blogger.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="text">
    <div class="c list wide blogger">
        {% for blogger in bloggers %}
        <div class="c ib info">
            <div class="ib avatar">
                
                {% if blogger.image %}
                    <img src="{{ blogger.image }}.100" height="100" width="100" alt="avatar" />
                {% else %}
                    <img src="/img/avatar-100.png" height="100" width="100" alt="avatar" />
                {% endif %}
            </div>
            <div class="ib data">
                <h2>{{ blogger.login }}</h2>
                <div class="name">{{ blogger.name }}</div>
                <div class="poll">
                    <div class="statistic">Обзоров <span class="score">{{ blogger.count_topic }}</span></div>
                    <div class="statistic">Балы <span class="score">{{ blogger.count_bals }}</span>
                        <div class="ib vote">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
                <a href="/bloggers/{{ blogger.id }}" class="button grey corners">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>



</div>
{% endblock %}