{% extends 'layout.twig' %}

{% block page_title %} {{ hotel.name }} {% endblock %}

{% block content %}
<div class="text corners">
    <div class="actions">
        <div class="name">
            Отель: <strong>{{ hotel.name }}</strong>
            <a class="button green corners" href="{{ hotel.soc_links.tzturpage }}" onClick="_gaq.push(['_trackEvent', 'Hotel', 'Order_tour', '{{ hotel.name }}']);">Заказать тур в отеле</a>
        </div>
        <ul class="social">
            <li class="ib vk"><a href="{{ hotel.soc_links.vkgroup }}" onClick="_gaq.push(['_trackEvent', 'External_links', 'vk', '{{ hotel.name }}']); ">Отель в Вконтакте</a></li>
            <li class="ib fb"><a href="{{ hotel.soc_links.fbgroup }}" onClick="_gaq.push(['_trackEvent', 'External_links', 'fb', '{{ hotel.name }}']); ">Отель в Facebook</a></li>
            <li class="ib"><a href="{{ hotel.soc_links.site }}" onClick="_gaq.push(['_trackEvent', 'External_links', 'Exit', '{{ hotel.name }}']); ">Сайт</a></li>
            {#<li class="ib"><a href="{{ hotel.soc_links.tzturpage }}">Отель на Tez Tour</a></li>#}
        </ul>
    </div>
    <div class="options">
        {% if topics %}
            {% include 'list_options_detail.twig' %}
        {% endif %}
    </div>
    <div class="list short hotels">
        {% include 'list_short_hotel.twig' %}
    </div>
    <div class="pagination">
        {% if topics %}
            Страница
            <ul class="c ib pagging">
            {% for page in pagination %}
                {% if page.current == current %}
                    <li class="ib active">{{page.id}}</li>
                {% else %}
                    <li class="ib"><a href="/hotels/hotel/{{ hotel.id }}/{{page.id}}">{{page.id}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>


{% endblock %}