{% extends 'layout.twig' %}

{% block page_title %} Все отели - TezClub{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ hotelssiteurl }}/js/jquery.wookmark.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        $('.info .item').wookmark({
            container: $('.info'),
            offset: 40
        });

        $(":checkbox").click(function(){
            var allbox = $("input:checked").map(function() {
                return $(this).val();
            }).get();

            // чистим все временные пометки
            $(".grid li").removeClass("deactive");
            $(".grid li:not(.noactive) a.tooltip span" )
                    .removeClass('custom')
                    .removeClass('critical')
                    .text('');

            for ( keyVar in allbox ) {
                $(".grid li:not(." + allbox[keyVar] + ", .noactive)" ).addClass('deactive');
                $(".grid li:not(." + allbox[keyVar] + ", .noactive) a.tooltip span" )
                    .addClass('custom')
                    .addClass('critical')
                    .html('<em>Данный отель не принадлежит к выбранному Вами виду отдыха</em>');
            }
            
        });

        $(".grid li.deactive a").click(function(){ 
            return false;
        });
        $(".grid li.noactive a").click(function(){ 
            return false;
        });

    });
</script>
<div class="text corners">

    <div class="list hotel">
        <div class="info">

            {% for city in hotelcitys %}
            <div class="ib item">
                <h1> {{ city.name }}</h1>
                <ul class="grid">
                    {% for hotel in city.hotels %}
                    <li class="c {% for htype in hotel.htypes %} ht{{ htype.id }}{% endfor %}{% if hotel.active == 0 %} noactive {% endif %}">

                        {% if hotel.image %}
                            <img src="{{ hotelssiteurl }}/{{ hotel.image }}.25"  width="25" alt="avatar" class="ib"/>
                        {% else %}
                            <img src="{{ hotelssiteurl }}/img/hotel-25.png" width="25" alt="avatar" class="ib"/>
                        {% endif %}
                        <a class="ib name tooltip" href="/hotels/hotel/{{ hotel.id }}">{{ hotel.name }}
                            <span >
                                {% if hotel.active == 0 %}
                                Обзоры по данному отелю ожидайте в ближайшее время
                                {% endif %}
                            </span>
                        </a>
                        <div class="ib count">обзоров <span class="score">{{ hotel.count_topic }}</span></div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
                
                {# if loop.index == 1 %} 

                <div class="ib item borderup">
                    <h1>Подобрать отель</h1>
                    {% for htypes in hoteltypes %}
                    <input id="checkbox_{{ htypes.id }}" type="checkbox" name="ht{{ htypes.id }}" class="" value="ht{{ htypes.id }}"/>
                    <label for="checkbox_{{ htypes.id }}">{{ htypes.name }}</label><br/>
                    {% endfor %}
                </div>

                {% endif #}
            {% endfor %}
        </div>
    </div>



</div>
{% endblock %}