{% extends 'layout.twig' %}

{% block page_title %} Все отели {% endblock %}

{% block content %}
<script type="text/javascript" src="/js/jquery.wookmark.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        $('.info .item').wookmark({
            container: $('.info'),
            offset: 20
        });

        $(":checkbox").click(function(){
            var allbox = $("input:checked").map(function() {
                return $(this).val();
            }).get();

            $(".grid li").removeClass("deactive");
            for ( keyVar in allbox ) {
                $(".grid li:not(." + allbox[keyVar] + ")" ).addClass('deactive');
            }
            
        });

    });
</script>
<div class="caption">

</div>
<div class="text">

    <div class="list hotel">
        <div class="info">

            {% for city in hotelcitys %}
            <div class="ib item">
                <h1> {{ city.name }}</h1>
                <h3>Отель</h3>
                <ul class="grid">
                    {% for hotel in city.hotels %}
                    <li class="c {% for htype in hotel.htypes %} ht{{ htype.id }}{% endfor %}">

                        {% if hotel.image %}
                            <img src="/{{ hotel.image }}.25"  width="25" alt="avatar" class="ib"/>
                        {% else %}
                            <img src="/img/hotel-25.png" width="25" alt="avatar" class="ib"/>
                        {% endif %}
                        <a class="ib name" href="/hotel/{{ hotel.id }}">{{ hotel.name }}</a>
                        <div class="ib count">статей <span class="score">{{ hotel.count_topic }}</span></div>
                    </li>
                    {% endfor %}
                </ul>

                </div>
                {% if loop.index == 1 %} 
                <div class="ib item">
                    <h1>Подобрать отель</h1>
                    {% for htypes in hoteltypes %}
                    <input id="checkbox_{{ htypes.id }}" type="checkbox" name="ht{{ htypes.id }}" class="" value="ht{{ htypes.id }}"/>
                    <label for="checkbox_{{ htypes.id }}">{{ htypes.name }}</label><br/>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>



</div>
{% endblock %}