{% extends 'layout.twig' %}

{% block page_title %} Bloggers In Hotels - TezClub{% endblock %}

{% block page_head %}
<script type="text/javascript" src="{{ hotelssiteurl }}/js/jscroll.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".anyClass").jCarouselLite({
        btnNext: ".faces .arrow.right",
        btnPrev: ".faces .arrow.left",
        visible: 5
    });
});
</script>

{% endblock %}

{% block content %} 
<div class="text corners">

<div class="headline corners">
    <h1>Bloggers in Hotels</h1>
    <div class="overlap">
        <p>Самые свежие и правдивые обзоры лучших отелей Турции глазами туриста.</p>
        <p>7 известных Блоггеров расскажут и покажут Вам все преимущества и недостатки Турецких курортов.</p>
        <p>Узнавайте больше об отелях, комментируйте и голосуйте за понравившихся авторов.</p>
    </div>
    <img src="{{ hotelssiteurl }}/img/headline.png" class="corners" width="946" height="300" alt=""/>
</div>

<h1 style="margin: 25px 0 10px 50px;">Блоггеры проекта</h1>
<div class="c faces">
    <div class="ib arrow left"></div>
    <div class="ib anyClass">
    <ul class="c ib">
        {% for blogger in bloggers %}
        <li class="ib corners faces-item">
            <a href="/hotels/bloggers/{{ blogger.id }}">
                {% if blogger.image != '' %}
                <img src="{{ hotelssiteurl }}/{{ blogger.image }}.100" height="100" width="100" alt=""/>
                {% else %}
                <img src="{{ hotelssiteurl }}/img/avatar-100.png" height="100" width="100" alt=""/>
                {% endif %}
            </a>
            <div class="login"><a href="/hotels/bloggers/{{ blogger.id }}">{{ blogger.login }}</a></div>
            <div class="name"><a href="/hotels/bloggers/{{ blogger.id }}">{{ blogger.name }}</a></div>
            <div class="statistic">Рейтинг <span class="score">{{ blogger.count_bals }}</span></div>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class="ib arrow right"></div>
</div>

<div class="c">
    <div class="ib places">
        <h1 style="margin: 20px 0 10px;">Отели</h1>
        <ul class="grid">
            {% for hotel in hotels %}
            <li class="c">
                {% if hotel.image != '' %}
                    <img class="ib" src="{{ hotelssiteurl }}/{{ hotel.image }}.25" width="25" alt=""/>
                {% else %}
                    <img class="ib" src="{{ hotelssiteurl }}/img/hotel-25.png" width="25" alt=""/>
                {% endif %}
                <a class="ib name" href="/hotels/hotel/{{ hotel.id }}">{{ hotel.name }}</a>
                <div class="ib count">статей <span class="score">{{ hotel.count_topic }}</span></div>
            </li>
            {% endfor %}
        </ul>

        <a href="/hotels/hotels" class="button grey corners allhotels">Все отели</a>
    </div>
    <div class="ib popular">
        <h1 style="margin: 20px 0 10px;">Популярные обзоры</h1>
        <ul class="c">
            {% for topic in topics %}
            <li class="ib corners {% if loop.index == 1 %} active {% endif %}">
                <img src="{{ topic.image }}" width="145" height="102" alt=""/>
                <p><a href="/hotels/blog/view/{{ topic.id }}"><b>{{ topic.title }}</b></a></p>
            </li>
            {% endfor %}
        </ul>
            {% for topic in topics %}
		    <div class="description {% if loop.index > 1 %}hide{% endif %}">
			    <div class="date">{{ topic.timestamp }}</div>
			    <div class="longtext">{{ topic.summary|raw }}</div>
			    <div class="textbutton">
                    <a href="/hotels/blog/view/{{ topic.id }}">Читать дальше →</a>
                    <span class="ib count" >комментариев <span class="score">{{ topic.count_comments }}</span></span>
                </div>
		    </div>
            {% endfor %}
        <a href="/hotels/blog" class="button grey corners allblogs">Все обзоры</a>
    </div>
</div>

</div>
{% endblock %}