<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}  Bloggers In Hotels  {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css"/>

    <link href="/img/favicon.gif" rel="shortcut icon" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>

    {% block page_head %}{% endblock %}

    <script type="text/javascript" src="/js/jquery.rating-2.0.js"></script>
    <link href="/css/jquery.rating.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/script.js"></script>

</head>
<body>

<header>
    <div class="wrapper">
        {% if userCurrent %}
        <div class="nav-inner">
            <div class="profile">
                <a href="http://tezclub.com.ua/profile/{{ userCurrent.login }}/">
                    <img class="avatar" alt="{{ userCurrent.login }}" 
                        src="{{ userCurrent.user_profile_avatar}}">
                </a>
                <ul>
                    <li>
                        <a class="username" href="http://tezclub.com.ua/profile/{{ userCurrent.login }}/"> 
                            {% if userCurrent.user_profile_name != '' %}
                                {{ userCurrent.user_profile_name }}
                            {% else %}
                                {{ userCurrent.login }}
                            {% endif %}
                        </a>
                        {% if iUserCurrentCountTalkNew %}
                            <a href="http://tezclub.com.ua/talk/" class="new-message" id="new_messages" title="новые сообщения"><span class="message"></span>Новых сообщений: {{ iUserCurrentCountTalkNew }}</a>
                        {% endif %}
                        <a class="message" id="new_messages" href="http://tezclub.com.ua/talk/"></a>
                        <a class="author" href="http://tezclub.com.ua/settings/profile/">Настройки</a>
                        <a class="author" href="http://tezclub.com.ua/login/exit/?security_ls_key=259c40c6ebe8bb1e718d0bc661fb4a3e">Выход</a>
                        <br>
                        <span class="user-rating">Рейтинг <strong>{{ userCurrent.user_rating|number_format(2) }}</strong></span>
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
            <div class="user-menu">
                <a class="button white corners" href="http://tezclub.com.ua/login">войти</a>
                <span>или</span>
                <a class="button white corners" href="http://tezclub.com.ua/registration">зарегистрироваться</a>
            </div>
        {% endif %}

        <figure>
            <a href="http://tezclub.com.ua/">
                <img class="ib" src="/img/logo.png" width="225" height="30" alt="logo"/>
            </a>
            <a href="/" class="logohref">
                <img class="ib" src="/img/bloggers_in_hotels.png" width="114" height="30" alt="bloggers_in_hotels"/>
            </a>
        </figure>
    </div>
    <div class="main-menu">
        <div class="wrapper">
            <div class="search">
                <label for="search">поиск</label>
                <input class="ui-corner-all" id="search" type="text" value=""/>
                <img src="/img/search.png" class="" width="12" height="10" alt=""/>
            </div>
            <ul class="c">
                <li  class="ib"><a href="http://tezclub.com.ua">Главное</a></li>
                <li  class="ib"><a href="http://tezclub.com.ua/blogs/">Обсуждения</a></li>
                <li  class="ib"><a href="http://tezclub.com.ua/tag/Советы/">Советы</a></li>
                <li  class="ib"><a href="http://tour.tezclub.com.ua/">Мой тур</a></li>
                <li  class="ib"><a href="http://tezclub.com.ua/people/">Люди</a></li>
                <li class="ib"><a href="http://tezclub.com.ua/page/about/">О Tez Club</a></li>
            </ul>
        </div>
    </div>

</div>
</header>

<article>
    <div class="wrapper">
        <ul class="c tabs">
            <li class="ib{% if currentpage == '/'%} active{% endif %}">
                <a class="ui-corner-all" href="/">Общая информация</a>
            </li>
            <li class="ib{% if currentpage == 'bloggers'%} active{% endif %}">
                <a class="ui-corner-all" href="/bloggers">Блоггеры</a>
            </li>
            <li class="ib{% if currentpage == 'hotels'%} active{% endif %}">
                <a class="ui-corner-all" href="/hotels">Отели</a>
            </li>
            <li class="ib{% if currentpage == 'blog'%} active{% endif %}">
                <a class="ui-corner-all" href="/blog">Обзоры</a>
            </li>
            <li class="ib{% if currentpage == 'page'%} active{% endif %}">
                <a class="ui-corner-all" href="/about">О проекте</a>
            </li>
        </ul>
        <div class="content corners">
            {% block content %} {% endblock %}
        </div>
    </div>
</article>


<footer>
    <div class="c wrapper">
        <div class="ib profile">
            {% if userCurrent %}
                <h3>{% if userCurrent.user_profile_name != '' %}
                        {{ userCurrent.user_profile_name }}
                    {% else %}
                        {{ userCurrent.login }}
                    {% endif %}
                </h3>
                <a href="http://tezclub.com.ua/topic/add/">Написать</a>
                <a href="http://tezclub.com.ua/talk/">Почтовый ящик</a>
                <a href="http://tezclub.com.ua/settings/profile/">Настройки профиля</a>
                <a href="http://tezclub.com.ua/logout">Выйти</a>
            {% else %}
                <a href="http://tezclub.com.ua/login">Войти</a>
                <a href="http://tezclub.com.ua/registration">Зарегистрироваться</a>
            {% endif %}
        </div>
        <div class="ib sections">
            <h3>Разделы</h3>
            <a href="http://tezclub.com.ua/blogs/">Обсуждения</a>
            <a href="http://tezclub.com.ua/people/">Люди</a>
            <a href="http://tezclub.com.ua/stream/">Активность</a>
        </div>
        <div class="ib information">
        </div>
        <div class="ib copy">
            © Tez Tour, 2011-2012 <br />
        </div>
    </div>
</footer>
</body>
</html>