{% for topic in topics %}
<div class="entry">
    <h1><a href="/blog/view/{{ topic.id }}">{{ topic.title }}</a></h1>
    <div class="meta">
        <img src="/img/avatar-25.png" class="ib" width="25" height="25" alt=""/>
        автор <a href="/bloggers/{{ topic.bl_id }}">{{ topic.author }}</a>,
        отель <a href="/hotel/{{ topic.hotel_id }}">{{ topic.hotel }}</a>,
        оператор <a href="#">Василий иванович</a>
        <span class="date">{{ topic.timestamp }}</span>
        <span class="comments">{{ topic.count_comments }}</span>
    </div>
    <div class="description">
        <p>{{ topic.summary|raw }}</p>
        <a href="/blog/view/{{ topic.id }}">Читать дальше →</a>
    </div>
    <div class="poll">
        <div class="statistic">Рейтинг статьи <span class="score">{{ topic.count_bals }}</span> </div>
        <div class="rating ib vote">
            &nbsp; &nbsp; &nbsp;<input type="hidden" name="val" value="{{ topic.count_bals }}"/>
            &nbsp; &nbsp; &nbsp;<input type="hidden" name="votes" value="{{ topic.count_voises }}"/>
            &nbsp; &nbsp; &nbsp;<input type="hidden" name="topic-id" value="{{ topic.id }}"/>
        </div>
    </div>
    
    {% if topic.tags != '' %}
    <ul class="c tags">
        {% for tag in topic.tags %}
        <li class="ib ui-corner-all"><a href="#">{{ tag }} &bull;</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    
</div>
{% endfor %}